flink-playground/.DS_Store
flink-playground/.idea/
flink-playground/.settings/
flink-playground/src/.DS_Store
flink-playground/target/
flink-playground/.vscode/settings.json
.DS_Store
.metadata
FlinkKafkaToS3/target/classes
